<div class="home-container">
    <div class="welcome-container">
        <h1 class="site-title">MovieFlix</h1>

        <div class="signup-login-container">
        </div>
    </div>
</div>
<%= javascript_pack_tag 'home' %>