<p class="site-description">
    Share what movies you've watch and review them with your friends!
</p>
<div class="login-signup-buttons">
    <button class="login-button">Login</button>
    <button class="signup-button">Signup</button>
</div>